# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# macOS
.DS_Store

# compiled binaries
cli/cli

# JetBrains
.idea/